html,
body {
  height: 100%;
  background-color: #FFFDFA;
}

.homebuttons{
  gap: 10px
}

.message-bubble {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
}

.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
}

.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.message-box{
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs{
  padding: 10px;
  display: flex;
}

#message{
  flex: 1;
}

.text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.muted{
  font-size: 10px;
  color: darkgray;
}

#hidden-left{
  opacity: 0;
}